/* General */
body{
  color: black;
  font-family: Arial, "Times New Roman";
  margin-top: 0;
  margin-left: 0;
  min-width: 800px;
}
*{
  border: 1px solid red;
}
.button {
  display: inline-block;
  padding: 5px 19px;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* ==================== Body and main parts ==================== */
#appBody{
  margin-top: -8px;
  margin-left: -8px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 88vh;
  background-color: #eaeff1;
}
#appBody__patch{
  width: 20%;
}

#appBody__mainContent{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



/* Header ====================================================== */
#header{
  height: 10vh;
  background-color: #009be5;
}
#headerContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  
}
#leftSide{
  width: 10%;
}
.headline{
  display: inline-block;
  text-align: center;
  color: white;
  font-size: 20px;
}
/* Login form ================================================== */
#loginContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  box-shadow: -11px 30px 86px 394px grey;
  background: none

}
#loginContainer section{
  width: 10%;
}
#loginContainer label{
  font-size: 1em
}
#loginContainer input{
  width: 150px;
}
#loginBtn{
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  line-height: 39px;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
}
.loginOutBtn:hover {background-color: #3e8e41}

.loginOutBtn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.loginOutBtnContainer{

}






/* ==================== MainContents ==================== */
#mainContent{
  height: 80vh;
}


/* MediaAction ==================== */
#actionBtnContainer{
  position: absolute;
  bottom: 0;
  background-color: #18202c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
}
#appBody__dashboard div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logOutBtn{
  position: absolute;
  top: 13%;
  right: 0px;
  width: 13%;
  font-size: 1.3em;
}


/* Table styling */
#itemContainer {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#itemContainer td, #itemContainer th {
  border: 1px solid #ddd;
  padding: 8px;
}

#itemContainer tr:nth-child(even){background-color: #f2f2f2;}

#itemContainer tr:hover {background-color: #ddd;}

#itemContainer th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
#tContainer{
  height: 90%;
  width: 99%;
  overflow-y: scroll;
}
#askDelContainer{
  position: absolute;
  top: calc(50% - 65.5px);
  left: calc(50% - 164px);
  width: 328px;
  border-radius: 30px;
  height: 131px;
  background-color: darkorange;
}
#delAsk{
  text-align: center;
  font-size: 20px;
}
#askDelBtnConatiner{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.askDelBtn{
  width: 100px;
}

/* ==================================================*/

.fontColor{
  color: black;
}
.pathLink1{
  margin-left: 5px;
}
.pathLink2{
  margin-left: 10px;
}
/* Handle files and folders ===========================*/
.files{
  width: 72px;
  height: 65px;
}
.folders{

}
.folderLink{
  text-decoration: none;
}
.folderName{
  position: relative;
  top: -5px;
  left: 5px;
}

.starBtnFolders{
  background: none;
  border: none;
  position: relative;
  left: -5px;
}
.starBtnFiles{
  background: none;
  border: none;
  position: relative;
  left: -5px;
  top: -45px;
}
.starFolders{

}
